/**
 * 公用css -可以替换为对应项目的公用样式
 * 这里写一些测试样式
 */
body,
.mui-content {
	background-color: #FFFFFF;
}
/*重写头部导航栏bar背景色,颜色为 187bc2*/
.mui-bar-nav {
   background:#187bc2;
   z-index: 20;
}
/*重写title的颜色,666666
 title大小为18px*/
.mui-title {
	font-size: 18px;
	color: #ffffff;
}
/*重写返回按钮颜色*/
.mui-icon-left-nav {
	color: #FFFFFF;
}
/*右侧的info图标*/
.mui-icon-info-filled {
	color: #FFFFFF;
}
/*重写按钮*/
.mui-btn-block {
	height: 45px;
	line-height: 45px;
	padding: 0;
}
.common-hidden {
	display: none;
}

/*自定义common.css样式*/
/* yui3 reset.css */

html
{
    color: #333;
    background: #FFF;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td
{
    margin: 0;
    padding: 0;
}

table
{
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img
{
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var
{
    font-style: normal;
    font-weight: normal;
}

ol,
ul
{
    list-style: none;
}

caption,
th
{
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-size: 100%;
    font-weight: normal;
}

q:before,
q:after
{
    content: '';
}

abbr,
acronym
{
    border: 0;
    font-variant: normal;
}

sup
{
    vertical-align: text-top;
}

sub
{
    vertical-align: text-bottom;
}

input,
textarea,
select
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    *font-size: 100%;
}

legend
{
    color: #000;
}

iframe
{
    display: block;
}

/* yui3 fonts */

body
{
    font-size: 14px;
    color: #333;
    font-family: "Microsoft YaHei";
}

select,
input,
button,
textarea
{
    font: 99% Microsoft YaHei, helvetica, clean, sans-serif;
}

table
{
    font-size: inherit;
    font: 100%;
}

pre,
code,
kbd,
samp,
tt
{
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

a
{
    text-decoration: none;
    color: #333;
}

/* utilities */

.center-block
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.clearfix
{
    *zoom: 1;
}

.clearfix:before,
.clearfix:after
{
    display: table;
    line-height: 0;
    content: "";
}

.clearfix:after
{
    clear: both;
}

.l
{
    float: left !important;
}

.r
{
    float: right !important;
}

.hidden
{
    display: none !important;
}

.invisible
{
    visibility: hidden !important;
}


